fabric/Rookie2Engineer/fabric_source/recovery_pipeline_folder/pl_recovery_source_to_landing.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "DECLARE @audit_batch_id VARCHAR(100) = '@{replace(string(pipeline().parameters.p_audit_batch_id), '''', '''''')}';\nDECLARE @target_layer VARCHAR(100) = COALESCE(NULLIF('@{replace(string(pipeline().parameters.p_layer_name), '''', '''''')}', ''), 'landing');\nDECLARE @load_type VARCHAR(50) = '';\n\nSELECT\n    s.audit_batch_id,\n    b.batch_status,\n    s.audit_session_id,\n    s.pipeline_name,\n    s.session_status,\n    t.audit_table_session_id,\n    t.table_id,\n    t.layer_name,\n    t.load_type,\n    t.status AS table_status,\n    CAST(t.start_time AS VARCHAR(33)) AS start_time,\n    CAST(t.end_time AS VARCHAR(33)) AS end_time,\n    t.processed_rows,\n    CAST(t.created_at AS VARCHAR(33)) AS created_at,\n    CAST(t.updated_at AS VARCHAR(33)) AS updated_at,\n    c.source_system,\n    c.source_schema,\n    c.source_table,\n    c.source_watermark_column,\n    c.destination_system,\n    c.destination_schema,\n    c.destination_table,\n    c.primary_key_column\nFROM audit.audit_table_session_log t\nJOIN audit.audit_session_log s\n    ON t.audit_session_id = s.audit_session_id\nJOIN audit.audit_batch_log b\n    ON s.audit_batch_id = b.audit_batch_id\nJOIN cfg.cfg_landing_bronze_table c\n    ON t.table_id = c.table_id\nWHERE s.audit_batch_id = @audit_batch_id\n  AND LOWER(t.layer_name) = LOWER(@target_layer)\n  AND LOWER(t.status) NOT IN ('succeeded', 'success')\n  AND c.is_active = 1\n  AND LOWER(c.destination_schema) = LOWER(@target_layer)\n  AND (NULLIF(@load_type, '') IS NULL OR LOWER(t.load_type) = LOWER(@load_type))\nORDER BY COALESCE(t.updated_at, t.created_at, t.start_time), t.table_id;",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "Rookie2Engineer_Warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
              "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 180,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "NB_Get_Failed_Landing_Tables",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('NB_Get_Failed_Landing_Tables').output.resultSets[0].rows",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@equals(toLower(item().source_system),'sqlserver_crm')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "v_sql_query",
                      "value": {
                        "value": "@if(equals(toLower(item().load_type),'incremental'),concat('SELECT *, GETDATE() AS _etl_date, ''', item().audit_session_id, ''' AS _etl_audit_session_id, ''', item().audit_table_session_id, ''' AS _etl_audit_table_session_id FROM [', item().source_schema, '].[', item().source_table, '] WHERE [', item().source_watermark_column, '] > CAST(''1900-01-01'' AS datetime2)'),concat('SELECT *, GETDATE() AS _etl_date, ''', item().audit_session_id, ''' AS _etl_audit_session_id, ''', item().audit_table_session_id, ''' AS _etl_audit_table_session_id FROM [', item().source_schema, '].[', item().source_table, ']'))",
                        "type": "Expression"
                      }
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "SV_SQL_Query_By_Load_Type",
                    "dependsOn": []
                  },
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "FabricSqlDatabaseSource",
                        "sqlReaderQuery": {
                          "value": "@variables('v_sql_query')",
                          "type": "Expression"
                        },
                        "partitionOption": "None",
                        "queryTimeout": "02:00:00",
                        "datasetSettings": {
                          "type": "FabricSqlDatabaseTable",
                          "schema": [],
                          "connectionSettings": {
                            "name": "insurance_crm_db",
                            "properties": {
                              "type": "FabricSqlDatabase",
                              "typeProperties": {
                                "artifactId": "453e448b-568f-941b-4a19-49d371e4b18e",
                                "workspaceId": "00000000-0000-0000-0000-000000000000"
                              },
                              "externalReferences": {
                                "connection": "a502a0ce-b65d-4ec0-a648-44548d47cce1"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "LakehouseTableSink",
                        "tableActionOption": "Append",
                        "applyVOrder": false,
                        "datasetSettings": {
                          "type": "LakehouseTable",
                          "typeProperties": {
                            "schema": {
                              "value": "@concat(item().destination_schema)",
                              "type": "Expression"
                            },
                            "table": {
                              "value": "@concat(item().destination_table)",
                              "type": "Expression"
                            }
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "Rookie2Engineer_Lakehouse",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "5003935f-2501-a066-4390-112c1abd17a2",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Tables"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                          "allowDataTruncation": true,
                          "treatBooleanAsNumber": false
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 3,
                      "retryIntervalInSeconds": 120,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "CP_SQL_Table_To_Landing",
                    "dependsOn": [
                      {
                        "activity": "SV_SQL_Query_By_Load_Type",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "v_processed_rows",
                      "value": {
                        "value": "@string(activity('CP_SQL_Table_To_Landing').output.rowsCopied)",
                        "type": "Expression"
                      }
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "SV_SQL_Processed_Rows",
                    "dependsOn": [
                      {
                        "activity": "CP_SQL_Table_To_Landing",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "v_audit_error_id",
                      "value": {
                        "value": "@string(guid())",
                        "type": "Expression"
                      }
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "SV_SQL_Audit_Error_Id",
                    "dependsOn": [
                      {
                        "activity": "CP_SQL_Table_To_Landing",
                        "dependencyConditions": [
                          "Failed"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Script",
                    "typeProperties": {
                      "scripts": [
                        {
                          "text": {
                            "value": "EXEC audit.sp_insert_error_log\n    @audit_table_session_id = '@{replace(string(item().audit_table_session_id), '''', '''''')}',\n    @step_name = 'CP_SQL_Table_To_Landing',\n    @error_code = '@{replace(string(activity('CP_SQL_Table_To_Landing').error.errorCode), '''', '''''')}',\n    @error_name = '@{replace(string(activity('CP_SQL_Table_To_Landing').error.message), '''', '''''')}';",
                            "type": "Expression"
                          },
                          "type": "NonQuery"
                        }
                      ],
                      "scriptBlockExecutionTimeout": "02:00:00"
                    },
                    "linkedService": {
                      "name": "Rookie2Engineer_Warehouse",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                          "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 3,
                      "retryIntervalInSeconds": 180,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Insert_SQL_error_message",
                    "dependsOn": [
                      {
                        "activity": "SV_SQL_Audit_Error_Id",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Script",
                    "typeProperties": {
                      "scripts": [
                        {
                          "text": {
                            "value": "EXEC audit.sp_audit_table_session_log\n    @action = 'failed',\n    @audit_table_session_id = '@{replace(string(item().audit_table_session_id), '''', '''''')}';",
                            "type": "Expression"
                          },
                          "type": "NonQuery"
                        }
                      ],
                      "scriptBlockExecutionTimeout": "02:00:00"
                    },
                    "linkedService": {
                      "name": "Rookie2Engineer_Warehouse",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                          "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 3,
                      "retryIntervalInSeconds": 180,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Update_SQL_audit_table_session_log_Failed",
                    "dependsOn": [
                      {
                        "activity": "Insert_SQL_error_message",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Fail",
                    "typeProperties": {
                      "message": {
                        "value": "@activity('CP_SQL_Table_To_Landing').error.message",
                        "type": "Expression"
                      },
                      "errorCode": "COPY_DATA_FAILED"
                    },
                    "name": "Fail_Stop_SQL_Branch",
                    "dependsOn": [
                      {
                        "activity": "Update_SQL_audit_table_session_log_Failed",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": [
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "BinarySource",
                        "formatSettings": {
                          "type": "BinaryReadSettings"
                        },
                        "storeSettings": {
                          "type": "AzureBlobStorageReadSettings",
                          "recursive": true
                        },
                        "datasetSettings": {
                          "type": "Binary",
                          "typeProperties": {
                            "location": {
                              "type": "LakehouseLocation",
                              "folderPath": {
                                "value": "@concat('source/json/', item().source_table)",
                                "type": "Expression"
                              },
                              "fileName": {
                                "value": "@if(equals(item().load_type,'full'),concat(item().source_table,'_full_',pipeline().parameters.p_batch_date,'.json'),concat(item().source_table,'_',pipeline().parameters.p_batch_date,'.json'))",
                                "type": "Expression"
                              }
                            }
                          },
                          "linkedService": {
                            "name": "Rookie2Engineer_Lakehouse",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "5003935f-2501-a066-4390-112c1abd17a2",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Files"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "BinarySink",
                        "storeSettings": {
                          "type": "AzureBlobStorageWriteSettings"
                        },
                        "datasetSettings": {
                          "type": "Binary",
                          "typeProperties": {
                            "location": {
                              "type": "LakehouseLocation",
                              "folderPath": {
                                "value": "@concat(item().destination_schema, '/', item().source_system, '/', item().destination_table, '/batch_date=', pipeline().parameters.p_batch_date)",
                                "type": "Expression"
                              },
                              "fileName": {
                                "value": "@if(equals(item().load_type,'full'),concat(item().source_table,'_full_',pipeline().parameters.p_batch_date,'.json'),concat(item().source_table,'_',pipeline().parameters.p_batch_date,'.json'))",
                                "type": "Expression"
                              }
                            }
                          },
                          "linkedService": {
                            "name": "Rookie2Engineer_Lakehouse",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "5003935f-2501-a066-4390-112c1abd17a2",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Files"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 3,
                      "retryIntervalInSeconds": 120,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "CP_JSON_File_To_Landing",
                    "dependsOn": []
                  },
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "v_processed_rows",
                      "value": "1"
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "SV_JSON_Processed_Rows",
                    "dependsOn": [
                      {
                        "activity": "CP_JSON_File_To_Landing",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "v_audit_error_id",
                      "value": {
                        "value": "@string(guid())",
                        "type": "Expression"
                      }
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "SV_JSON_Audit_Error_Id",
                    "dependsOn": [
                      {
                        "activity": "CP_JSON_File_To_Landing",
                        "dependencyConditions": [
                          "Failed"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Script",
                    "typeProperties": {
                      "scripts": [
                        {
                          "text": {
                            "value": "EXEC audit.sp_insert_error_log\n    @audit_table_session_id = '@{replace(string(item().audit_table_session_id), '''', '''''')}',\n    @step_name = 'CP_JSON_File_To_Landing',\n    @error_code = '@{replace(string(activity('CP_JSON_File_To_Landing').error.errorCode), '''', '''''')}',\n    @error_name = '@{replace(string(activity('CP_JSON_File_To_Landing').error.message), '''', '''''')}';",
                            "type": "Expression"
                          },
                          "type": "NonQuery"
                        }
                      ],
                      "scriptBlockExecutionTimeout": "02:00:00"
                    },
                    "linkedService": {
                      "name": "Rookie2Engineer_Warehouse",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                          "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 3,
                      "retryIntervalInSeconds": 180,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Insert_JSON_error_message",
                    "dependsOn": [
                      {
                        "activity": "SV_JSON_Audit_Error_Id",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Script",
                    "typeProperties": {
                      "scripts": [
                        {
                          "text": {
                            "value": "EXEC audit.sp_audit_table_session_log\n    @action = 'failed',\n    @audit_table_session_id = '@{replace(string(item().audit_table_session_id), '''', '''''')}';",
                            "type": "Expression"
                          },
                          "type": "NonQuery"
                        }
                      ],
                      "scriptBlockExecutionTimeout": "02:00:00"
                    },
                    "linkedService": {
                      "name": "Rookie2Engineer_Warehouse",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                          "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 3,
                      "retryIntervalInSeconds": 180,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Update_JSON_audit_table_session_log_Failed",
                    "dependsOn": [
                      {
                        "activity": "Insert_JSON_error_message",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Fail",
                    "typeProperties": {
                      "message": {
                        "value": "@activity('CP_JSON_File_To_Landing').error.message",
                        "type": "Expression"
                      },
                      "errorCode": "JSON_COPY_FAILED"
                    },
                    "name": "Fail_Stop_JSON_Branch",
                    "dependsOn": [
                      {
                        "activity": "Update_JSON_audit_table_session_log_Failed",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ]
              },
              "name": "IF_Recover_Source_System_SQLServer_CRM",
              "dependsOn": []
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@and(equals(toLower(item().source_system),'sqlserver_crm'),equals(toLower(item().load_type),'incremental'))",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "Script",
                    "typeProperties": {
                      "scripts": [
                        {
                          "text": {
                            "value": "@{concat('SELECT CAST(MAX([', item().source_watermark_column, ']) AS VARCHAR(33)) AS max_watermark_value FROM [', item().destination_schema, '].[', item().destination_table, ']')}",
                            "type": "Expression"
                          },
                          "type": "Query"
                        }
                      ],
                      "scriptBlockExecutionTimeout": "02:00:00"
                    },
                    "linkedService": {
                      "name": "Rookie2Engineer_Warehouse",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                          "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 3,
                      "retryIntervalInSeconds": 180,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Lookup_get_max_watermark",
                    "dependsOn": []
                  },
                  {
                    "type": "Script",
                    "typeProperties": {
                      "scripts": [
                        {
                          "text": {
                            "value": "DECLARE @table_id INT = TRY_CAST('@{item().table_id}' AS INT);\nDECLARE @new_watermark DATETIME2(6) = TRY_CAST(NULLIF('@{replace(string(activity('Lookup_get_max_watermark').output.resultSets[0].rows[0].max_watermark_value), '''', '''''')}', '') AS DATETIME2(6));\nDECLARE @audit_session_id VARCHAR(100) = '@{replace(string(item().audit_session_id), '''', '''''')}';\n\nIF @table_id IS NOT NULL AND @new_watermark IS NOT NULL\nBEGIN\n    IF EXISTS (SELECT 1 FROM cfg.cfg_table_watermark WHERE table_id = @table_id)\n    BEGIN\n        UPDATE cfg.cfg_table_watermark\n        SET\n            last_watermark_value = @new_watermark,\n            last_audit_session = @audit_session_id,\n            last_load_time = CURRENT_TIMESTAMP,\n            updated_date = CURRENT_TIMESTAMP\n        WHERE table_id = @table_id;\n    END\n    ELSE\n    BEGIN\n        INSERT INTO cfg.cfg_table_watermark (\n            table_id,\n            last_watermark_value,\n            last_audit_session,\n            last_load_time,\n            created_date,\n            updated_date\n        )\n        VALUES (\n            @table_id,\n            @new_watermark,\n            @audit_session_id,\n            CURRENT_TIMESTAMP,\n            CURRENT_TIMESTAMP,\n            CURRENT_TIMESTAMP\n        );\n    END;\nEND;",
                            "type": "Expression"
                          },
                          "type": "NonQuery"
                        }
                      ],
                      "scriptBlockExecutionTimeout": "02:00:00"
                    },
                    "linkedService": {
                      "name": "Rookie2Engineer_Warehouse",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                          "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 3,
                      "retryIntervalInSeconds": 180,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Update_Watermark_Value",
                    "dependsOn": [
                      {
                        "activity": "Lookup_get_max_watermark",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": [
                  {
                    "type": "SetVariable",
                    "typeProperties": {
                      "variableName": "v_watermark_action",
                      "value": {
                        "value": "@concat('SKIPPED_WATERMARK_FULL_LOAD_', string(item().table_id))",
                        "type": "Expression"
                      }
                    },
                    "policy": {
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "SV_Skip_Watermark_For_Full_Load",
                    "dependsOn": []
                  }
                ]
              },
              "name": "IF_Recover_SQL_Load_Type_Incremental",
              "dependsOn": [
                {
                  "activity": "IF_Recover_Source_System_SQLServer_CRM",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "DECLARE @processed_rows INT;\nSET @processed_rows = TRY_CAST('@{replace(string(variables('v_processed_rows')), '''', '''''')}' AS INT);\nIF @processed_rows IS NULL SET @processed_rows = 0;\n\nEXEC audit.sp_audit_table_session_log\n    @action = 'success',\n    @audit_table_session_id = '@{replace(string(item().audit_table_session_id), '''', '''''')}',\n    @processed_rows = @processed_rows;",
                      "type": "Expression"
                    },
                    "type": "NonQuery"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "Rookie2Engineer_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                    "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "1:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 180,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "NB_Update_Recovered_Table_Success",
              "dependsOn": [
                {
                  "activity": "IF_Recover_SQL_Load_Type_Incremental",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "FE_Recover_Failed_Landing_Tables",
        "dependsOn": [
          {
            "activity": "NB_Get_Failed_Landing_Tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "DECLARE @audit_batch_id VARCHAR(100) = '@{replace(string(pipeline().parameters.p_audit_batch_id), '''', '''''')}';\nDECLARE @target_layer VARCHAR(100) = COALESCE(NULLIF('@{replace(string(pipeline().parameters.p_layer_name), '''', '''''')}', ''), 'landing');\n\nUPDATE s\nSET\n    session_status = 'success',\n    session_end = CURRENT_TIMESTAMP\nFROM audit.audit_session_log s\nWHERE s.audit_batch_id = @audit_batch_id\n  AND EXISTS (\n      SELECT 1\n      FROM audit.audit_table_session_log t\n      JOIN cfg.cfg_landing_bronze_table c\n          ON t.table_id = c.table_id\n      WHERE t.audit_session_id = s.audit_session_id\n        AND LOWER(t.layer_name) = LOWER(@target_layer)\n        AND c.is_active = 1\n        AND LOWER(c.destination_schema) = LOWER(@target_layer)\n      GROUP BY t.audit_session_id\n      HAVING SUM(CASE WHEN LOWER(t.status) NOT IN ('succeeded', 'success') THEN 1 ELSE 0 END) = 0\n  );\n\nIF NOT EXISTS (\n    SELECT 1\n    FROM audit.audit_table_session_log t\n    JOIN audit.audit_session_log s\n        ON t.audit_session_id = s.audit_session_id\n    JOIN cfg.cfg_landing_bronze_table c\n        ON t.table_id = c.table_id\n    WHERE s.audit_batch_id = @audit_batch_id\n      AND LOWER(t.layer_name) = LOWER(@target_layer)\n      AND c.is_active = 1\n      AND LOWER(c.destination_schema) = LOWER(@target_layer)\n      AND LOWER(t.status) NOT IN ('succeeded', 'success')\n)\nBEGIN\n    EXEC audit.sp_audit_batch_log\n        @action = 'success',\n        @audit_batch_id = @audit_batch_id;\nEND\nELSE\nBEGIN\n    EXEC audit.sp_audit_batch_log\n        @action = 'failed',\n        @audit_batch_id = @audit_batch_id;\nEND;",
                "type": "Expression"
              },
              "type": "NonQuery"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "Rookie2Engineer_Warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
              "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 180,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "NB_Refresh_Parent_Status_On_Success",
        "dependsOn": [
          {
            "activity": "FE_Recover_Failed_Landing_Tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "DECLARE @audit_batch_id VARCHAR(100) = '@{replace(string(pipeline().parameters.p_audit_batch_id), '''', '''''')}';\nDECLARE @target_layer VARCHAR(100) = COALESCE(NULLIF('@{replace(string(pipeline().parameters.p_layer_name), '''', '''''')}', ''), 'landing');\n\nUPDATE s\nSET\n    session_status = 'success',\n    session_end = CURRENT_TIMESTAMP\nFROM audit.audit_session_log s\nWHERE s.audit_batch_id = @audit_batch_id\n  AND EXISTS (\n      SELECT 1\n      FROM audit.audit_table_session_log t\n      JOIN cfg.cfg_landing_bronze_table c\n          ON t.table_id = c.table_id\n      WHERE t.audit_session_id = s.audit_session_id\n        AND LOWER(t.layer_name) = LOWER(@target_layer)\n        AND c.is_active = 1\n        AND LOWER(c.destination_schema) = LOWER(@target_layer)\n      GROUP BY t.audit_session_id\n      HAVING SUM(CASE WHEN LOWER(t.status) NOT IN ('succeeded', 'success') THEN 1 ELSE 0 END) = 0\n  );\n\nEXEC audit.sp_audit_batch_log\n    @action = 'failed',\n    @audit_batch_id = @audit_batch_id;",
                "type": "Expression"
              },
              "type": "NonQuery"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "Rookie2Engineer_Warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
              "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 180,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "NB_Refresh_Parent_Status_On_Failed",
        "dependsOn": [
          {
            "activity": "FE_Recover_Failed_Landing_Tables",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "Fail",
        "typeProperties": {
          "message": "One or more landing recovery table loads failed. Check failed table session and error logs.",
          "errorCode": "LANDING_RECOVERY_FAILED"
        },
        "name": "Fail_Recovery_Not_All_Tables_Succeeded",
        "dependsOn": [
          {
            "activity": "NB_Refresh_Parent_Status_On_Failed",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "p_audit_batch_id": {
        "type": "string",
        "defaultValue": "BATCH_MANUAL_20260601"
      },
      "p_batch_date": {
        "type": "string",
        "defaultValue": "2026-05-25"
      },
      "p_layer_name": {
        "type": "string",
        "defaultValue": "landing"
      }
    },
    "variables": {
      "v_audit_error_id": {
        "type": "String"
      },
      "v_sql_query": {
        "type": "String"
      },
      "v_processed_rows": {
        "type": "String"
      },
      "v_watermark_action": {
        "type": "String"
      }
    }
  }
}