fabric/Rookie2Engineer/fabric_source/recovery_pipeline_folder/pl_recovery_table_session.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Switch",
        "typeProperties": {
          "on": {
            "value": "@activity('Get_Recovery_Layer').output.resultSets[0].rows[0].layer_name",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "landing",
              "activities": [
                {
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "5a44b954-004a-ac1c-4a5b-514864e15249",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "p_audit_batch_id": {
                        "value": "@variables('v_audit_batch_id')",
                        "type": "Expression"
                      },
                      "p_batch_date": {
                        "value": "@pipeline().parameters.p_batch_date_source",
                        "type": "Expression"
                      },
                      "p_layer_name": "landing"
                    },
                    "waitOnCompletion": true
                  },
                  "policy": {
                    "secureInput": false
                  },
                  "name": "Invoke pipeline pl_recovery_source_to_landing",
                  "dependsOn": []
                },
                {
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "c8483a7d-881c-abe9-4b94-3ea0e097c820",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "p_audit_batch_id": {
                        "value": "@variables('v_audit_batch_id')",
                        "type": "Expression"
                      },
                      "p_triggered_by": {
                        "value": "@pipeline().parameters.p_triggered_by",
                        "type": "Expression"
                      }
                    },
                    "waitOnCompletion": true
                  },
                  "policy": {
                    "secureInput": false
                  },
                  "name": "Invoke pipeline pl_landing_to_bronze 1",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_recovery_source_to_landing",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "05246a07-eaf8-9b6f-40d4-70cec650fc0e",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "triggered_by": {
                        "value": "@pipeline().parameters.p_triggered_by",
                        "type": "Expression"
                      },
                      "audit_batch_id": {
                        "value": "@variables('v_audit_batch_id')",
                        "type": "Expression"
                      }
                    },
                    "waitOnCompletion": true
                  },
                  "policy": {
                    "secureInput": false
                  },
                  "name": "Invoke pipeline pl_bronze_to_silver 1",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_landing_to_bronze 1",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "a9280019-b626-a77f-413d-bfcb6956d0b7",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "p_triggered_by": {
                        "value": "@pipeline().parameters.p_triggered_by",
                        "type": "Expression"
                      },
                      "p_audit_batch_id": {
                        "value": "@variables('v_audit_batch_id')",
                        "type": "Expression"
                      },
                      "p_etl_date": {
                        "value": "@pipeline().parameters.p_batch_date",
                        "type": "Expression"
                      }
                    },
                    "waitOnCompletion": true
                  },
                  "policy": {
                    "secureInput": false
                  },
                  "name": "Invoke pipeline pl_silver_to_gold 1",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_bronze_to_silver 1",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "success",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy SUCCESS 1",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_silver_to_gold 1",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "failed",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy FAILED 1",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_silver_to_gold 1",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "failed",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy FAILED 1_copy1",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_bronze_to_silver 1",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "failed",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy FAILED 1_copy1_copy1",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_landing_to_bronze 1",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "failed",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy FAILED 1_copy1_copy1_copy1",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_recovery_source_to_landing",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "value": "bronze",
              "activities": [
                {
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "4ab0aee1-9a3a-9a9a-4db6-fd4b57f3c5a8",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "p_audit_batch_id": {
                        "value": "@variables('v_audit_batch_id')",
                        "type": "Expression"
                      }
                    },
                    "waitOnCompletion": true
                  },
                  "policy": {
                    "secureInput": false
                  },
                  "name": "Invoke pipeline pl_recovery_landing_to_bronze",
                  "dependsOn": []
                },
                {
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "05246a07-eaf8-9b6f-40d4-70cec650fc0e",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "triggered_by": {
                        "value": "@pipeline().parameters.p_triggered_by",
                        "type": "Expression"
                      },
                      "audit_batch_id": {
                        "value": "@variables('v_audit_batch_id')",
                        "type": "Expression"
                      }
                    },
                    "waitOnCompletion": true
                  },
                  "policy": {
                    "secureInput": false
                  },
                  "name": "Invoke pipeline pl_bronze_to_silver 2",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_recovery_landing_to_bronze",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "a9280019-b626-a77f-413d-bfcb6956d0b7",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "p_triggered_by": {
                        "value": "@pipeline().parameters.p_triggered_by",
                        "type": "Expression"
                      },
                      "p_audit_batch_id": {
                        "value": "@variables('v_audit_batch_id')",
                        "type": "Expression"
                      },
                      "p_etl_date": {
                        "value": "@pipeline().parameters.p_batch_date",
                        "type": "Expression"
                      }
                    },
                    "waitOnCompletion": true
                  },
                  "policy": {
                    "secureInput": false
                  },
                  "name": "Invoke pipeline pl_silver_to_gold 2",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_bronze_to_silver 2",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "success",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy SUCCESS 2",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_silver_to_gold 2",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "failed",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy FAILED 2",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_silver_to_gold 2",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "failed",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy FAILED 2_copy1",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_bronze_to_silver 2",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "failed",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy FAILED 2_copy1_copy1",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_recovery_landing_to_bronze",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "value": "silver",
              "activities": [
                {
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "a9280019-b626-a77f-413d-bfcb6956d0b7",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "p_triggered_by": {
                        "value": "@pipeline().parameters.p_triggered_by",
                        "type": "Expression"
                      },
                      "p_audit_batch_id": {
                        "value": "@variables('v_audit_batch_id')",
                        "type": "Expression"
                      },
                      "p_etl_date": {
                        "value": "@pipeline().parameters.p_batch_date",
                        "type": "Expression"
                      }
                    },
                    "waitOnCompletion": true
                  },
                  "policy": {
                    "secureInput": false
                  },
                  "name": "Invoke pipeline pl_silver_to_gold 3",
                  "dependsOn": [
                    {
                      "activity": "Invoke Silver Recovery Pipeline",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "38bb654d-b0f1-8aca-4d9c-701a9fb91fe1",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "p_audit_batch_id": {
                        "value": "@variables('v_audit_batch_id')",
                        "type": "Expression"
                      },
                      "p_triggered_by": {
                        "value": "@pipeline().parameters.p_triggered_by",
                        "type": "Expression"
                      },
                      "p_layer_name": "silver"
                    },
                    "waitOnCompletion": true
                  },
                  "policy": {
                    "secureInput": false
                  },
                  "name": "Invoke Silver Recovery Pipeline",
                  "dependsOn": []
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "success",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy SUCCESS 3",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_silver_to_gold 3",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "failed",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy FAILED 3",
                  "dependsOn": [
                    {
                      "activity": "Invoke pipeline pl_silver_to_gold 3",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "failed",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy FAILED 3_copy1",
                  "dependsOn": [
                    {
                      "activity": "Invoke Silver Recovery Pipeline",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "value": "gold",
              "activities": [
                {
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "f0e5c48a-8a9d-9ffb-47d5-61ffe5e99926",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "p_audit_batch_id": {
                        "value": "@variables('v_audit_batch_id')",
                        "type": "Expression"
                      },
                      "p_triggered_by": {
                        "value": "@pipeline().parameters.p_triggered_by",
                        "type": "Expression"
                      },
                      "p_layer_name": "gold",
                      "etl_date": {
                        "value": "@pipeline().parameters.p_batch_date",
                        "type": "Expression"
                      }
                    },
                    "waitOnCompletion": true
                  },
                  "policy": {
                    "secureInput": false
                  },
                  "name": "Invoke Gold Recovery Pipeline",
                  "dependsOn": []
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "success",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy SUCCESS 4",
                  "dependsOn": [
                    {
                      "activity": "Invoke Gold Recovery Pipeline",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "SqlServerStoredProcedure",
                  "typeProperties": {
                    "storedProcedureName": "[audit].[sp_audit_batch_log]",
                    "storedProcedureParameters": {
                      "action": {
                        "value": "failed",
                        "type": "String"
                      },
                      "audit_batch_id": {
                        "value": {
                          "value": "@variables('v_audit_batch_id')",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Rookie2Engineer_Warehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
                        "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update audit_batch_log_copy FAILED 4",
                  "dependsOn": [
                    {
                      "activity": "Invoke Gold Recovery Pipeline",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": {
                  "referenceName": "46ac82e7-7260-8c95-432a-13bd9f704e11",
                  "type": "PipelineReference"
                },
                "parameters": {},
                "waitOnCompletion": true
              },
              "policy": {
                "secureInput": false
              },
              "name": "Invoke pl_etl_master_optimize",
              "dependsOn": []
            }
          ]
        },
        "name": "Choose Recovery Case",
        "dependsOn": [
          {
            "activity": "Set audit_batch_id",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "SELECT DISTINCT \n    COALESCE(MAX(abl.audit_batch_id), 'DEFAULT') AS audit_batch_id,\n    COALESCE(MAX(atsl.layer_name), 'DEFAULT') AS layer_name\nFROM audit.audit_table_session_log atsl\nJOIN audit.audit_session_log asl\n    ON atsl.audit_session_id = asl.audit_session_id\nJOIN audit.audit_batch_log abl\n    ON abl.audit_batch_id = asl.audit_batch_id\nWHERE abl.audit_batch_id = \n    (\n        SELECT TOP 1 audit_batch_id\n        FROM audit.audit_batch_log\n        ORDER BY session_start DESC\n    )\n  AND lower(atsl.status) <> 'success'",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "Rookie2Engineer_Warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "e013e43e-49e8-865d-4824-221f0cbc1668",
              "endpoint": "3ukzqa5oadlurln3behjhxf4ae-ww2lcxmltl4uxaen5wnpeg6zva.datawarehouse.fabric.microsoft.com",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get_Recovery_Layer",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "v_audit_batch_id",
          "value": {
            "value": "@activity('Get_Recovery_Layer').output.resultSets[0].rows[0].audit_batch_id",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set audit_batch_id",
        "dependsOn": [
          {
            "activity": "Get_Recovery_Layer",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "p_triggered_by": {
        "type": "string",
        "defaultValue": "system"
      },
      "p_batch_date": {
        "type": "string",
        "defaultValue": "@formatDateTime(utcNow(),'yyyy-MM-dd')"
      },
      "p_batch_date_source": {
        "type": "string",
        "defaultValue": "2026-05-25"
      }
    },
    "variables": {
      "v_audit_batch_id": {
        "type": "String"
      }
    }
  }
}